<h1>Elfelejtett jelszó</h1>
<p *ngIf="isSended" class="sended">Az elfelejtettet jelszóval kapcsolatos instrukciók el lettek küldve a 
  <span class="email-display">{{ email }}</span> e-mail címre</p>
<p>Ha elfelejtette a jelszavát kerjük, írja be e-mail címét az alábbi mezőbe!</p>
<form #form="ngForm" (ngSubmit)="submit(form)">
  <p>
    <label for="email">E-mail cím</label><br>
    <input type="email" id="email" name="email" ngModel>
  </p>
  <p>
    <button type="submit" class="btn">Elküdés</button>
  </p>
</form>
