@import 'fonts';
@import 'variables';

*{
	font-family:'Open Sans';
}

.btn{
	color:$color-white;
	background-color:$color-red;
	font-family:'HHelvetica Condensed Bold';
	border:none;
	font-size:20px;
	padding:1% 5%;
	&:disabled{
		background-color:$color-mercury;
	}
}

.buttons{
	text-align:center;
	margin:{
		top:40px;
		bottom:40px;
	}
}

body{
	background-color:$color-mercury;
}