@import '~src/sass/variables';

personal-data {
    p {
        margin:40px 0;
        .question{
            font-family:'HHelvetica Condensed Bold';
        }
        input{
            width:45%;
            padding:.6%;
            margin-top:15px;
            border: 3px solid $color-gallery;
        }
    }
}

@media only screen and (max-width:1024px) {
    personal-data {
        p {
            input {
                padding:2.5%;
                width:75%;
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    personal-data {
        p {
            input{
                width:90%;
            }
        }
    }
}

