@import '~src/app/modules/home/components/home/variables';

start{
	h1{
		color:$color-red;
		text-align:center;
		font-family:'HHelvetica Condensed Bold';
	}
	.desc{
		font-size:14px;
	}
	.warning{
		color:$color-red;
	}
}

@media screen and (max-width:480px) {
	start {
		h1 {
			line-height: 40px;
		}
	}
}