@font-face{
	font-family: "HHelvetica Condensed Bold";
	src: url("../../../../../assets/fonts/hhelvc.eot");
	src: url("../../../../../assets/fonts/hhelvc.eot#iefix") format("embedded-opentype"),
	url("../../../../../assets/fonts/hhelvc.woff") format("woff"),
	url("../../../../../assets/fonts/hhelvc.ttf") format("truetype"),
	url("../../../../../assets/fonts/hhelvc.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}