<h2>Csoportok</h2>
<table>
  <tr>
    <th>Azonosító</th>
    <th>Név</th>
    <th>Érvényesség kezdete</th>
    <th>Érvényesség vége</th>
    <th>Típus neve</th>
    <th>Szerkesztés</th>
  </tr>
  <tr *ngFor="let group of groups">
    <td class="group-id">{{ group.id }}</td>
    <td class="group-name">{{ group.name }}</td>
    <td class="group-access-from">{{ group.accessFrom | date:'y.MM.dd'  }}</td>
    <td class="group-access-to">{{ group.accessTo | date:'y.MM.dd' }}</td>
    <td class="group-type-name">{{ group.type.name }}</td>
    <td><a [routerLink]="['/admin/group/edit', group.id]" class="edit-group">Szerkesztés</a> <a [routerLink]="['/admin/users', group.id]" class="users">Tanulók</a> <button class="btn btn-delete" (click)="deleteGroup(group)">Csoport törlése</button></td>
  </tr>
</table>
<button class="add-group btn btn-new" (click)="addGroup()">Csoport hozzáadása</button>
