<a routerLink="/admin/tests">Vissza a tesztekhez</a>
<h2><editable-input [value]="test.name" [inputType]="'text'" [type]="'testName'" (onStopEditing)="onStopEditing($event)"></editable-input></h2>

<section class="block">
    <h2>Alapbeállítások</h2>
    <article>
        <ckeditor [(ngModel)]="test.description" (blur)="saveTestDescription($event)"></ckeditor>
        <p class="setting"><span>Kérdések száma oldalanként:</span> <editable-input [value]="test.pageQuestionNumber" [inputType]="'number'" [type]="'testPageQuestionNumber'" (onStopEditing)="onStopEditing($event)"></editable-input></p>
    </article>
</section>
<questions [questions]="test.questions" [testId]="test.id"></questions>
<go-to-top></go-to-top>