<h2><editable-input [value]="test.name" [inputType]="'text'" [type]="'testName'" (onStopEditing)="onStopEditing($event)"></editable-input></h2>

<section class="block">
    <h2>Alapbeállítások</h2>
    <article>
        <ckeditor [(ngModel)]="test.description" (blur)="saveTestDescription($event)"></ckeditor>
        <p class="setting"><span>Kérdések száma oldalanként:</span> <editable-input [value]="test.pageQuestionNumber" [inputType]="'number'" [type]="'testPageQuestionNumber'" (onStopEditing)="onStopEditing($event)"></editable-input></p>
        <p class="setting"><span>Idő egy oldalra:</span> <editable-input [value]="test.pageTime" [inputType]="'text'" [type]="'testPageTime'" [placeholder]="'MM:SS'"  (onStopEditing)="onStopEditing($event)"></editable-input></p>
        <p class="setting"><span>Kezdő időpont:</span> <editable-date [value]="test.startTime"  [type]="'startTime'"  (stopedit)="onStopEditing($event)"></editable-date></p>
        <p class="setting"><span>Záró időpont:</span> <editable-date [value]="test.endTime"  [type]="'endTime'" (stopedit)="onStopEditing($event)"></editable-date></p>
    </article>
</section>
<personal-questions [personalQuestions]="test.personalQuestions" [testId]="test.id"></personal-questions>
<questions [questions]="test.questions" [testId]="test.id"></questions>
<go-to-top></go-to-top>