<h2><editable-input [value]="test.name" [inputType]="'text'" [type]="'testName'" (onStopEditing)="onStopEditing($event)"></editable-input></h2>

<section class="block">
    <h2>Alapbeállítások</h2>
    <article>
        <editor [text]="test.description" (blur)="saveTestDescription($event)"></editor>
        <p class="setting"><span>Kérdések száma oldalanként:</span> <editable-input [value]="test.pageQuestionNumber" [inputType]="'number'" [type]="'testPageQuestionNumber'" (onStopEditing)="onStopEditing($event)"></editable-input></p>
        <p class="setting"><span>Idő egy oldalra:</span> <editable-input [value]="test.pageTime" [inputType]="'text'" [type]="'testPageTime'" [placeholder]="'MM:SS'"  (onStopEditing)="onStopEditing($event)"></editable-input></p>
        <p class="setting"><span>Kezdő időpont:</span> <editable-date [value]="test.startTime"  [type]="'startTime'"  (stopedit)="onStopEditing($event)"></editable-date></p>
        <p class="setting"><span>Záró időpont:</span> <editable-date [value]="test.endTime"  [type]="'endTime'" (stopedit)="onStopEditing($event)"></editable-date></p>
    </article>
</section>
<section class="block">
    <h2>Személyes Adatok</h2>
    <article>
        <div *ngFor="let personalQuestion of test.personalQuestions" class="personal-question">
            <personal-question [personalQuestion]="personalQuestion" [personalTypes]="personalTypes" (onTransferEditing)="onStopEditing($event)"></personal-question>
            <button (click)="deletePersonalQuestion(personalQuestion.id)" class="btn btn-delete">Törlés</button>
        </div>
        <button (click)="addPersonalQuestion()" class="btn btn-new">Új személyes kérdés</button>
    </article>
</section>
<section class="block">
    <h2>Kérdések</h2>
    <article>
        <div *ngFor="let question of test.questions; let i=index" class="question">
            <h3>{{ i + 1 }}.</h3>
            <question [question]="question" (onTransferEditing)="onStopEditing($event)"></question>
            <button (click)="deleteQuestion(question.id)" class="btn btn-delete">Kérdés törlése</button>
        </div>
        <button (click)="addQuestion()" class="btn btn-new">Új Kérdés</button>
    </article>
</section>
<go-to-top></go-to-top>