<section class="fills">
<h1>Kitöltések</h1>
	<table>
		<tr>
			<th>
				Azonosító
				<span (click)="orderDesc('id')">▼</span>
				<span (click)="orderAsc('id')">▲</span>
			</th>
			<th>
				Pontszám
				<span (click)="orderDesc('score')">▼</span>
				<span (click)="orderAsc('score')">▲</span>
			</th>
			<th>Kitöltő azonosítója</th>
			<th>Kitöltő neve</th>
			<th>Kitöltés időpontja</th>
			<th>Kitöltési idő</th>
			<th>Megtekintés</th>
		</tr>
		<tr *ngFor="let fill of fills">
			<td>{{fill.id}}</td>
			<td>{{fill.score}}</td>
			<td>{{fill.user.id}}</td>
			<td>{{fill.user.name}}</td>
			<td>{{fill.date}}</td>
			<td>{{fill.time}}</td>
			<td><a [routerLink]="['/admin/fill', fill.id]">Megtekintés</a></td>
		</tr>
	</table>
	<a href="http://localhost/work-projects/kamionsuli/2018/kamionsuli-teszt-api/public/fill/{{testId}}/getCsv">Export</a>
</section>