<section class="block">
  <h2>Személyes Adatok</h2>
  <article>
      <div *ngFor="let personalQuestion of personalQuestions" class="personal-question">
          <personal-question [personalQuestion]="personalQuestion" [personalTypes]="personalTypes" (onTransferEditing)="onStopEditing($event)"></personal-question>
          <button (click)="deletePersonalQuestion(personalQuestion.id)" class="btn btn-delete">Törlés</button>
      </div>
      <button (click)="addPersonalQuestion()" class="btn btn-new">Új személyes kérdés</button>
  </article>
</section>
