<h2>Új jelszó</h2>
<p *ngIf="!gotUser">A felhasználó azonsítása folyamatban</p>
<p *ngIf="gotUser && codeNotValid" class="code-not-valid">
  Az azonosító kód nem megfelelő hosszúságú!
</p>
<p *ngIf="gotUser && userNotFound">
  Nem lehet felhasználót rendelni az azonosító kódhoz!
</p>
<form *ngIf="gotUser && (!userNotFound && !codeNotValid)" [formGroup]="form" (ngSubmit)="resetPassword()">
  <p *ngIf="success">Jelszavát sikeresen megváloztattuk!</p>
  <p>
    <label for="password">Új jelszó</label><br>
    <input type="password" name="password" id="password" formControlName="password"><br>
    <span *ngIf="password.touched && password.errors?.required">Ezt a mezőt kötelező kitölteni</span><br> 
  </p>
  <p>
    <label for="password2">Új jelszó még egyszer</label><br>
    <input type="password" name="password2" id="password2" formControlName="password2"><br>
    <span *ngIf="password2.touched && password2.errors?.required">Ezt a mezőt kötelező kitölteni</span><br>
  </p>
  <p *ngIf="form.touched && password2.valid && form.errors?.passwordsMatch">A két jelszónak egyeznie kell!</p>
  <p>
    <button type="submit" class="btn" [disabled]="form.invalid">Jelszó változtatás</button>
  </p>
</form>
