<h2>Jegyzetek</h2>
<button (click)="checkAll()">Összes kijelölése</button>
<button (click)="deleteChecked()">Kijelöltek törlése</button>
{{ message }}
<table>
  <tr>
    <th>Kijelölés</th>
    <th>Azonosító</th>
    <th>Cím</th>
    <th>Fájl</th>
    <th>Típus</th>
    <th>Szerkesztés</th>
  </tr>
  <tr *ngFor="let note of notes">
    <td>
      <input type="checkbox" [(ngModel)]="note.checked">
    </td>
    <td>
      {{ note.id }}
    </td>
    <td>
      {{ note.title }}
    </td>
    <td>
      <a [href]="note.path">{{ note.path }}</a>
    </td>
    <td>
      {{ note.groupType.name }}
    </td>
    <td>
      <a class="btn btn-edit" [routerLink]="['/admin/note/edit', note.id]">Szerkesztés</a>
    </td>
  </tr>
</table>
<button class="btn btn-new" (click)="addNote()">Új Jegyzet</button>
