.personal-question {
	background-color: $color-bg-3;
	margin:10px 0;
	padding:5px;
	display: flex;
	> button {
		width:5%;
		margin-left:1%;
	}
	editable-input {
		span {
			display: inline-block;
		}
	}
	personal-question {
		width:50%;
	}
}

.setting {
	@extend .personal-question;
	display: flex;
	editable-input, editable-date {
		width: 35%;
		* {
			width: 30%;
		}
	}
	> span {
		width: 20%;
	}
}